packages:
  yum:
    certbot: []
    python3-certbot-nginx: []
files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_letsencrypt.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      DOMAIN="kantrack-api.stgands.com"
      EMAIL="rhernandezmunguia@gmail.com"

      if [ ! -f /etc/letsencrypt/live/$DOMAIN/fullchain.pem ]; then
        echo "Solicitando certificado SSL de Let's Encrypt para $DOMAIN..."
        certbot --nginx --non-interactive --agree-tos --email $EMAIL -d $DOMAIN
      else
        echo "Certificado SSL ya existente. Renovando..."
        certbot renew --quiet
      fi
